body, html {
    font-family: "Assistant";
    font-size: 12pt;
    line-height: 2;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h2 {
    margin-top: 50px;
}

a {
    text-decoration: none;
}

#content a {
    font-weight: 600;
}

#content p a::before {
    content: url('/_static/box-arrow-up-right.svg');
}

a:hover {
    text-decoration: underline;
}

.headerlink {
	display: none;
}
h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6.hover .headerlink {
	display: inline-block;
}

#main-navbar {
    display: block;
    padding-bottom: 0;
}

#main-menubar {
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#main-logo {
    height: 55px;
}

@media screen and (min-width: 992px) {
    .nav-link {
        margin-right: 50px;
    }
    #main-search {
        position: absolute;
        right: 0;
        top: -65px;
    }  
}

.nav-link {
    font-size: 11pt;
    font-weight: bold;
}

.cover-top {
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-text {
    color: #fff;
    text-align: center;
    font-size: 40pt;
    font-weight: 700;
    padding-top: 200px;
    line-height: 1.5;
}

@media screen and (max-width: 1399px) {
    .cover-text {
        font-size: 30pt;
    }
}

@media screen and (max-width: 991px) {
    .cover-text {
        font-size: 20pt;
    }
}

#carousel-image1 {
    background-image: url('hackathon1.jpg');
}

#carousel-image2 {
    background-image: url('hackathon2.jpg');
}

#carousel-image3 {
    background-image: url('hackathon3.jpg');
}

#data-top {
    background-image: url('merged_spots.webp');
    height: 800px !important;
}

#people-top {
    background-image: url('everyone.jpg');
    height: 800px !important;
}
.spacer {
    height: 81px;
    background-color: #777;
}

#wrapper {
    margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
}

#footer {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #555;
    color: #fff;
}

#footer p {
    padding-top: 350px;
    text-align: center;
}

#footer a {
    color: #fff;
}

#footer ul {
    line-height: 1;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#footer li {
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    width: 20%;
    font-size: 11pt;
    font-weight: bold;
}

#footer ul li ul {
    position: absolute;
    margin-top: 1rem;
    left: 0;
}

#footer ul li ul li {
    clear: both;
    width: 100%;
    font-weight: normal;
    font-size: 9pt;
}